<div class="container">
  <div class="row">
    <div class="columns col-4">
      <%= render 'form' %>
    </div>
    <div class="columns col-4 ">
      <%= render 'feed' %>
    </div>
    <div class="columns col-4">
      
    </div>



</div>
</div>